name: Deploy Grafana Dashboards
on:
  push:
    branches: [main]
    paths: ['resources/**']

permissions:
  contents: read

env:
  GRAFANACTL_VERSION: '0.1.9'

jobs:
  deploy:
    name: Deploy Grafana resources
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install grafanactl
        shell: bash
        run: |
          mkdir -p "${HOME}/.local/bin/"
          wget https://github.com/grafana/grafanactl/releases/download/v{{ `${{ env.GRAFANACTL_VERSION }}` }}/grafanactl_Linux_x86_64.tar.gz
          tar -xzf grafanactl_Linux_x86_64.tar.gz
          mv grafanactl "${HOME}/.local/bin/grafanactl"
          chmod +x "${HOME}/.local/bin/grafanactl"
          echo "bin-path=${HOME}/.local/bin" >> "${GITHUB_OUTPUT}"

      - name: Setup go
        uses: actions/setup-go@v6

      - name: Generate manifests
        shell: bash
        run: |
          go run .

      - name: Validate manifests
        shell: bash
        run: |
          grafanactl resources validate -p ./resources
        env:
          GRAFANA_SERVER: {{ `${{ secrets.GRAFANA_URL }}` }}
          GRAFANA_TOKEN: {{ `${{ secrets.GRAFANA_TOKEN }}` }}

      - name: Deploy
        shell: bash
        run: |
          grafanactl resources push -p ./resources --on-error abort
        env:
          GRAFANA_SERVER: {{ `${{ secrets.GRAFANA_URL }}` }}
          GRAFANA_TOKEN: {{ `${{ secrets.GRAFANA_TOKEN }}` }}
