<!doctype html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>gcx - server</title>
    <link rel="stylesheet" href="/gcx/assets/style.css"/>
    <link rel="icon" type="image/png" href="/gcx/assets/fav32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/gcx/assets/apple-touch-icon.png" />
</head>
<body>

{{ template "proxy/header.html.tmpl" . }}

<main>
    {{ range $kind, $resources := .Resources.GroupByKind }}
    <h1>{{ $kind }}</h1>
    <ul>
        {{ range $resources.AsList }}
        <li>
            {{ if kindHasProxy $kind }}
                <a href="/gcx/{{ .Group }}/{{ .Version }}/{{ .Kind }}/{{ .Name }}">
                    {{ .Name }}
                </a>
            {{ else }}
                {{ .Name }}
            {{ end }}
        </li>
        {{ end }}
    </ul>
    {{ else }}
        <p>No resources found.</p>
    {{ end }}
</main>
</body>
</html>
