package {{ .Package }}

import (
	"github.com/grafana/grafana-foundation-sdk/go/{{ .SDKPackage }}"
	"github.com/grafana/grafana-foundation-sdk/go/resource"
)

func {{ .FuncName }}() *resource.ManifestBuilder {
	manifestBuilder := resource.NewManifestBuilder().
		ApiVersion("{{ .GroupVersion }}").
		Kind("{{ .Kind }}").
		Metadata(
			resource.NewMetadataBuilder().Name("{{ .Name }}"),
		)

	builder := {{ .ConvertedBuilder }}
	object, err := builder.Build()
	if err != nil {
		manifestBuilder.RecordError("Manifest({{ .Kind }})", err)
		return manifestBuilder
	}

	return manifestBuilder.Spec(object)
}
